﻿<div ng-app="Report" ng-controller="ReportController">

    <h1>View QPL List</h1>
    <div ng-if="!gridReady">
        Loading Grid...
    </div>

    <div ng-if="gridReady">
        <kendo-grid options="mainGridOptions">

        </kendo-grid>
    </div>
</div>